.animation-saltar{
    animation: saltar infinite ease-in 2s;
}

@keyframes saltar{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}